results/
sim/work/
sim/transcript
sim/*.wlf
design_compiler/*.log
design_compiler/*.svf
design_compiler/dc_files/*.txt
design_compiler/dc_files/*.mr
design_compiler/dc_files/*.pvl
design_compiler/dc_files/*.syn
design_compiler/dc_files/*.ddc
design_compiler/alib-52/
__pycache__/
*.pyc
